html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.full-width-buttons {
  display: flex;
  width: 100%;
  gap: 10px;
}

.full-width-buttons button {
  flex: 1;
}

h1,
h2 {
  color: #333;
  margin: 10px 0;
}

button {
  margin: 5px 0;
  padding: 8px 16px;
  cursor: pointer;
}

#payloadBox {
  width: 100%;
  height: 200px;
  margin-top: 5px;
  padding: 10px;
  font-family: monospace;
  border: 1px solid #999;
  background: #f9f9f9;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 6px;
}

#responseBoxPerson {
  width: 100%;
  flex: 1;
  padding: 10px;
  font-family: monospace;
  border: 1px solid #999;
  background: #f9f9f9;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: auto;
  box-sizing: border-box;
  border-radius: 6px;
}
